.cta {
  max-width: 1200px;
  margin: auto;
}

.cta__img {
  width: 100%;
}

.cta__container {
  font-weight: normal;
  margin: 40px 24px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  color: var(--bg-o2-light);
  background-color: var(--white);
}

.cta__title {
  font: normal normal normal 17px/22px Helvetica Neue;
  letter-spacing: 0px;
  color: var(--bg-o2-light);
  color: var(--black);
}

.cta__paragraph {
  font: normal normal normal 17px/22px Helvetica Neue;
  letter-spacing: 0px;
  color: #666666;
}

.cta__paragraph-span {
  color: var(--texto-01-light);

  letter-spacing: 0px;
}

@media (min-width: 550px) {
  .cta {
    margin-block: 50px;
    display: flex;
    align-items: center;
    gap: 40px;
    /* margin: 40px 24px; */
  }
  .cta__img {
    width: 40%;
  }
  .cta__title {
    font-size: 32px;
  }
  /* .cta__container {
    margin: 0;
  } */
}
