.difference {
  background: transparent url("/assets/grupodemascarabg2x.png") 0% 0% no-repeat;
  background-size: contain;
  height: 308px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.difference__wrapper {
  padding-inline: 20px;
  text-align: center;
}

.difference__subtittle {
  color: var(--bg-o1-light);
  font: normal 600 16px/17px ProximaNovaSemibold;
  letter-spacing: -0.32px;
}

.difference__tittle {
  color: var(--texto-01-light);
  font: normal 900 21px/22px ProximaNovaBlack;
  letter-spacing: -0.42px;
}

@media (min-width: 500px) {
  .difference {
    width: 100%;
  }
}
