.flavors {
  background: var(--bg-o2-dark) 0% 0% no-repeat padding-box;
}

.flavors_wrapper {
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flavors__img {
  width: 100%;
}

.flavors__container {
  display: flex;
  flex-direction: column;
  padding-inline: 36;
  gap: 10px;

  margin-top: 44px;
  margin-bottom: 48px;

  margin-inline: 36px;
}

.flavors__tittle {
  color: var(--texto-01-light);
  text-align: center;
  font: normal normal bold 21px/22px Helvetica;
  letter-spacing: -0.42px;
}

.flavors__paragraph {
  color: var(--bg-o1-light);
  text-align: center;
  font: normal normal normal 17px/22px Helvetica Neue;
  letter-spacing: 0px;
}

.flavors__line {
  border: 2px solid var(--texto-01-light);
  border: 2px solid #7c68b5;
  max-width: 255px;
  width: 100%;
}

.flavors__button-container {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.flavors__button {
  background: var(--bg-o1-light) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 5px 25px;

  transition: all 0.3s ease;
}

.flavors__button:hover {
  background-color: var(--texto-01-light);
}

.flavors__button a {
  color: black;
  text-align: center;
  font: normal normal normal 17px/45px Helvetica Neue;
  letter-spacing: 0px;
}

@media (min-width: 650px) {
  .flavors {
    background: #fff;
  }
  .flavors__paragraph {
    color: black;
  }
  .flavors_wrapper {
    flex-direction: row;
    gap: 40px;
  }
  .flavors__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .flavors__img {
    width: 50%;
  }
  .flavors__button {
    border: 1px solid black;
  }
}

@media (max-width: 374px) {
  .flavors__button-container {
    flex-direction: column;
  }
}
