@import "footer.css";
@import "header.css";
@import "reset.css";
@import "cta.css";
@import "omega.css";
@import "composition.css";
@import "benefits.css";
@import "difference.css";
@import "flavors.css";
@import "price.css";
@import "whey.css";

:root {
  --texto-01-dark: #4a3683;
  --texto-01-light: #7c68b5;
  --bg-03-dark: #bbbbbb;
  --bg-03-light: #ededed;
  --bg-o2-dark: #000000;
  --bg-o2-light: #141414;
  --bg-o1-dark: #cdcdcd;
  --bg-o1-light: #ffffff;
  --gray-cta: #666666;
}

.dark-mode:root {
  --bg-o1-light: #1d1c1c;
  --bg-03-light: #131212;
  --bg-o2-dark: #fff;
  --gray-cta: #fff;
  --bg-o2-light: #fff;
}

body {
  transition: background-color 0.3s ease;
}

/* @font-face {
  font-family: HelveticaNeueNormal;
  src: url("fonts/HelveticaNeueRoman.otf");
}

@font-face {
  font-family: HelveticaNeueBold;
  src: url("fonts/HelveticaNeueBold.otf") format("opentype");
} */

@font-face {
  font-family: ProximaNovaSemibold;
  src: url("/fonts/ProximaNovaSemibold.otf") format("opentype");
}
@font-face {
  font-family: ProximaNovaBlack;
  src: url("/fonts/ProximaNovaBlack.otf") format("opentype");
}
