.omega {
  background: black 0% 0% no-repeat padding-box;
}

.omega__wrapper {
  max-width: 1200px;
  margin: auto;

  padding-inline: 24px;
  padding-block: 40px;
}

.omega__container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  color: #ffffff;
}

.omega__title {
  color: #ffffff;
  font: normal normal bold 30px/30px Helvetica;
  letter-spacing: 0px;
}

.omega__paragraph {
  color: #ffffff;
  font: normal normal normal 17px/22px Helvetica Neue;
  letter-spacing: 0px;
}

.omega__paragraph-span {
  color: var(--texto-01-light);
}

.omega__button {
  background: #ffffff 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 4px;

  transition: all 0.3s ease;

  padding-inline: 10px;
  margin-top: 40px;
}

.omega__button:hover {
  background-color: var(--texto-01-light);
}

.omega__anchor {
  color: black;
  text-align: center;
  font: normal normal normal 17px/45px Helvetica Neue;
  letter-spacing: 0px;
}

@media (min-width: 720px) {
  .omega__wrapper {
    padding-block: 80px;
  }
}

@media (max-width: 374px) {
  .omega__title {
    font-size: 24px;
  }
}
