.price {
  max-width: 800px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;

  padding-inline: 24px;
  margin-block: 40px;
}

.price__image {
  width: 138px;
}

.price__container {
  max-width: 180px;
}

.price__tittle {
  color: var(--texto-01-light);
  font: normal normal bold 20px/20px Helvetica;
  letter-spacing: 0px;
  color: #7c68b5;

  padding-block: 17px;
}

.price__container-prices {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price__firstPrice {
  font: normal normal normal 15px/19px Helvetica;
  letter-spacing: 0px;
}

.price__firstPrice-strong {
  font-weight: 700;
}

.price__firstPrice-risk {
  text-decoration: line-through;
}

.price__secundPrice {
  background: #847f7a 0% 0% no-repeat padding-box;
  border-radius: 3px;

  width: 136px;

  padding-block: 4px;

  color: var(--bg-o1-light);
  font: normal normal normal 18px/19px Helvetica;
  letter-spacing: 0px;
}

.price__anchor {
  color: var(--texto-01-light);
  text-decoration: underline;
  font: normal normal normal 15px/24px Helvetica;
  letter-spacing: 0px;
}

@media (max-width: 374px) {
  .price {
    flex-direction: column-reverse;
  }
  .price__image {
    width: 200px;
  }
}

@media (min-width: 650px) {
  .price {
    padding-block: 80px;
  }
  .price__image {
    width: 300px;
  }
  .price__container-prices {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .price__container {
    max-width: 100%;
  }

  .price__tittle {
    font-size: 32px;
  }

  .price__firstPrice {
    font-size: 24px;
  }
}

@media (max-width: 374px) {
  .price {
    flex-direction: column-reverse;
  }
}
