.whey {
  max-width: 1000px;
  margin: auto;

  margin-block: 40px;
  padding-inline: 36px;
}

.whey__container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.whey__image {
  width: 160px;
}

.whey__wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.whey__tittle {
  color: var(--texto-01-light);
  text-align: left;
  font: normal normal bold 17px Helvetica;
}

.whey__subTittle {
  font: normal normal normal 12px/15px Helvetica;
  letter-spacing: 0px;
}

.whey__flavors-tittle {
  font: normal normal bold 16px/19px Helvetica;
  letter-spacing: 0px;
}

.whey__flavors-paragraph {
  font: normal normal normal 16px/19px Helvetica;
  letter-spacing: 0px;
  color: #333333;
}

.whey__composition-wrapper {
  margin-top: 24px;
  margin-bottom: 10px;
}

.whey__composition-tittle {
  font: normal normal bold 16px/22px Helvetica;
  letter-spacing: 0px;
  color: #333333;
}

.whey__composition-list {
  font: normal normal normal 16px/19px Helvetica;
  letter-spacing: 0px;
  color: #333333;

  display: flex;
  flex-direction: column;
  gap: 2px;
}

.whey__composition-wrapper-desktop {
  display: none;
}

@media (min-width: 650px) {
  .whey {
    margin-block: 80px;
  }
  .whey__image {
    width: 300px;
  }
  .whey__composition-wrapper-desktop {
    display: block;
  }
  .whey__composition-wrapper-mobile {
    display: none;
  }
}

@media (min-width: 900px) {
  .whey__tittle {
    font-size: 36px;
  }
  .whey__subTittle {
    font-size: 28px;
  }
  .whey__tittle {
    font-size: 36px;
  }
  .whey__tittle {
    font-size: 36px;
  }
}

@media (max-width: 374px) {
  .whey__container {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
