.whey {
  margin-block: 40px;
}

.whey__container {
  display: flex;
  justify-content: center;
}

.whey__tittle {
  color: var(--texto-01-light);
  text-align: left;
  font: normal normal bold 17px/15px Helvetica;
}

@media (min-width: 600px) {
  .whey {
    margin-block: 80px;
  }
}
